// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC800;
$orange: #E67E22;
$green: #62A943;
$light-green: #75CD4E;
$gray: #0E0000;
$light-gray: #696969;
$dark-gray: #2C3344;

