// Specific CSS for your home-page
h1 {
  font-family: $headers-font;
  font-size: 100px;
  color: white;
}

h2 {
  font-family: $headers-font;
  font-size: 50px
}

h3 {
  font-family: $body-font;
  color: white;
}

h5 {
  font-family: $body-font;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  height: 100vh;
  .banner-content {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
  }
}

.inspire-container {
  background-color: white;
  height: 30em;
  padding-right: 1em;
  position: relative;
  text-align: right;
  flex-direction: column;
  padding-top: 10%;
  padding-right: 5%;
  .inspire-text {
    float: right;
    text-align: right;
  }
  h2 {
    background-image: linear-gradient(to bottom, rgb(158, 201, 139), rgb(158, 201, 139));
    padding-left: 0px;
    color: white;
  }
  h5 {
    color: $light-gray;
    letter-spacing: 0.05em;
  }
  .fa-seedling {
    position: absolute;
    bottom: -35px;
    left: 150px;
    color: $green;
    font-size: 370px;
  }
  .inspire-header {
    width: 25%;
    text-align: right;
    float: right;
    justify-content: right;
    margin-right: 0;
    margin-left: 75%;
  }
}

.time-container {
  .time-content {
    height: 30em;
    background-color: $green;
    padding-top: 10%;
  }
  h2 {
    background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(255,255,255));
    color: $green;
  }
  .time-header {
    width: 35%;
  }
}



