.submit-button {
  background-color: #75CD4E;
  color: white;
  padding: 2% 4% 2% 4%;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    background-color: $green;
    color: white;
  }
}

.wrapper-patch {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form-patch {
  width: 35vw;
  background-color: white;
  padding: 30px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  .input {
    width: 60vw;
  }
  h2 {
    font-family: $headers-font;
    font-size: 36px;
    text-align: center;
    color: white;
    padding: 0%;
  }
  .highlightme {
    background-color: #9ACA8E;
  }
  .new-patch-text {
    margin-bottom: 10%;
  }
}

#new_patch {
  width: 85%;
  margin: auto;
}

#meadow-new-form {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

// .new-patch-page-container {
//   position: relative;
// }


