#highlightme-h3 {
  font-family: $headers-font;
  padding: 3% 0 3% 7%;
  .highlightme {
    background-color: #9ACA8E;
  }
}
.infopatch {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3% 2% 3% 2%;
  margin: 0 auto 0 auto;
  width: 70vw;
}


h1 {
    margin-bottom: 5%;
  .highlightme {
    background-color: #9ACA8E;
  }
}

.titlepatch h1 {
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 73px;
  text-align: center;
  color: white;
  margin-top: 15px;

}

.infopatch li {
  list-style: none;
}

.patch-show-alerts {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 25px;
  p {
    margin: 30px;
    font-family: $headers-font;
    color: $gray;
  }
  h3 {
    font-family: $headers-font;
    color: white;
    text-align: center;
    .highlightme {
    background-color: #9ACA8E;
    }
  }
}

.weather-alerts {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

.planting-alerts {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

.allplants {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: $headers-font;
  width: 100%;
  position: relative;
}

#patch-plants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-left: 20px;
  margin-right: 20px;
}


.alerts p {
  margin: 30px;
  font-family: $headers-font;
  color: #393939;
}
.bti {
  margin-top: 30px;
  width: 80px;

}

.co-patch-show {
  border-radius: 50%;
  position: absolute;
  border: solid 3px white;
  width: 70px;
  height: 70px;
  background-color: white;
  z-index: -1;
  top: -35px;
  left: 46%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.leaf-avatar-patch-show {
  width: 43px;
  height: 43px;
  position: absolute;
  top: -28px;
  left: 48%;
}

.add-extra-veg-container {
  width: 70vw;
  background-color: white;
  margin: 5% auto 0 auto;
  padding: 0 3% 0 3%;
  border-style: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.weatherforecast {
  background-color: white;
  margin: 3% auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 25px;
  width: 80vw;
  p {
    color: #393939;
  }
  h3 {
    color: #393939;
    font-size: 20px;
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 4%;
    .highlightme {
    background-color: #9ACA8E;
    }
  }
}

.everyday li {
  list-style-type: none;
}

.everyday ul {
  padding-left: 10px;
  padding-right: 10px;
}
.everyday {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}


// .alerts-box-container {
//   padding: 5% 0;
//   background-color: $green;
//   width: 60vw;
// }

.patch-container {
  background-color: $green;
  width: 80vw;
  margin: 5% auto 5% auto ;
  padding: 5% 0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  h2 {
    color: white;
    text-align: center;
    padding: 0;
  }
}

#sun {
  width:60px;
}

#rain {
  width:60px;
}



