
.crop {
  background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');

  position: relative;
  //bottom: 1000px;
  //background-size: cover;
  //background-position: center;
  //height: 100vh;
  //height: 18px;
  //background-position: bottom;
  overflow : hidden;
}


