
.patch-showpage-container {
  background-color: #9ACA8E;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-bottom: 10px;
  width: 80vw;
}

h1 {
    margin-bottom: 5%;
}

.titlepatch h1 {
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 73px;
  text-align: center;
  color: white;

}

.infopatch {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

.infopatch li {
  list-style: none;
}

.patch-show-alerts {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  p {
    margin: 30px;
    font-family: $headers-font;
    color: $gray;
  }
  h3 {
    font-family: $headers-font;
    color: white;
    text-align: center;
    padding-top: 5%;
    .highlightme {
    background-color: #9ACA8E;
    }
  }
}

.weather-alerts {
  display: flex;
  justify-content: space-around;
}

.planting-alerts {
  display: flex;
  justify-content: space-around;
}

.allplants {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: $headers-font;
  width: 100%;
}

.plants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.bti {
  margin: 30px
}

.co-patch-show {
  border-radius: 50%;
  position: absolute;
  border: solid 3px white;
  width: 70px;
  height: 70px;
  background-color: white;
  z-index: -1;
  top: -35px;
  left: 46%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.leaf-avatar-patch-show {
  width: 43px;
  height: 43px;
  position: absolute;
  top: -20px;
  left: 48%;
}
