
.banner-crop {
  height: 500px;
  background-size: cover;
  background-position: bottom;
}

.welcome {
  //display: flex;
  color: white;
  padding-top: 150px;
  vertical-align: middle;
  text-align: center;
}

.card-patch {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 60%;
  height: 30%;
  margin: auto;
  border-radius: 20px;
}
.potatos {
  height: 200px;
  background-size: cover;
  background-position: bottom;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.patches-link {
  color: $green;
  &:hover {
    text-decoration: underline;
    color: rgba($green, 0.6);
  }
}

.patchlist {
  color: white;
  background-color: rgba($green, 0.6);
  //margin-left: 225px;
  //padding: 20px 700px 0px 0px;
  width: 100%;
}

.card-trip-infos {
  vertical-align: middle;
  text-align: center;
}

.patches-location {
  color: $green;
}
