.patch-plant-alerts {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  width: 50vw;
  margin: 5% auto 2% auto;
  background-color: white;
  padding: 3% 0 3% 3%;
  position: relative;
  h3 {
    font-family: $headers-font;
    text-align: center;
  }
  h5 {
    font-family: $headers-font;
    color: $green;
  }
  .highlightme {
    background-color: #9ACA8E;
  }
  p {
    color: $dark-gray;
  }
}

.leaf-avatar-patch {
  width: 43px;
  height: 43px;
  position: absolute;
  top: -20px;
  left: 48%;
}
 .co-patch {
    border-radius: 50%;
    position: absolute;
    border: solid 3px white;
    width: 70px;
    height: 70px;
    background-color: white;
    z-index: -1;
    top: -35px;
    left: 46%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }



.patch-plant-table-container {
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  width: 50vw;
  margin: 0 auto 0 auto;
  padding: 3% 0 3% 0;
  h5 {
    font-family: $headers-font;
    color: white;
    text-align: center;
    padding-bottom: 1%;
  }
  .highlightme {
    background-color: #9ACA8E;

  }
  .patch-table {
    margin: 0 auto 0 auto;

  }
}

.patch-plant-show-background-pic {
  width: 100%vw;
}
