.index-container {
  width: 50vw;
  margin: 0 auto 0 auto;
  position: relative;
  h3 {
    font-family: $headers-font;
  }
  h2 {
    color: white;

    width: 25vw;
    text-align: center;
    margin: 0 auto 5% auto;
  }
  .highlightme {
    background-color: #9ACA8E;
  }
}

.index-text {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.index-cards {
  background-color: white;
  width: 80vw;
  margin: 1% auto 3% auto;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 5px 5px 15px, rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.index-page-button {
  background-color: #75CD4E;
  color: white;
  padding: 2% 4% 2% 4%;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  right: -25%;
  top: -3%;
  &:hover {
    text-decoration: none;
    background-color: $green;
    color: white;
  }
}

// Grow hover effect

.hvr-grow2 {
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow2:hover, .hvr-grow2:focus, .hvr-grow2:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
