.veg-show-background-pic {
  width: 45vw;
  margin-bottom: 5%;
  max-height: 50vh;
  object-fit: cover;
}
.plant-card {
  background-color: white;
  text-align: justify;
  border-radius: 5px;
  margin-top: 3%;
  width: 50%;
  h2 {

    width: 34%;
    padding-left: 3%;
    color: white;
  }
  h5 {
    font-family: $headers-font;
    color: $green;
    padding-left: 3%;
  }
  p {
    padding: 0 2% 2% 3%;
    color: #393939;
  }
  .highlightme {
    background-color: #9ACA8E;
  }
}

.plant-container .row{
  width: 100vw;
}

.calendar-container {
  padding-right: 0%;
  margin-right: 0%;
  margin-top: 3%;
  position: relative;
  position: sticky;
  // height: 100vh;
  padding-bottom: 90px;
  .calendar-content {
    padding-right: 0%;
    margin-right: 0%;
    top: 0;
  }
  h5 {
   font-family: $headers-font;
   color: white;
   width: 28%;
  }
  .highlightme {
    background-color: #9ACA8E;
  }
}

.green-button {
  background-color: #75CD4E;
  color: white;
  padding: 2% 5% 2% 5%;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  right: 5%;
  bottom: 20px;
  margin-top: 50px;
  &:hover {
    text-decoration: none;
    background-color: $green;
    color: white;
  }
}

.table {
  width: 40vw;
  padding: 0;
  margin: 0;
  background-color: white;
  tbody, thead, tr, th, td {
    padding: 1%;
    margin: 1%;
  }
}

.month-table-j {
  margin-top: 5%;
}
