.plant-container {

}
.plant-card {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 2% 2% 3%;
  text-align: justify;
  border-radius: 5px;
  h2 {
    background-color: #9ACA8E;
    width: 23%;
    padding: 0.6%;
    color: white;
  }
  h5 {
    font-family: $headers-font;
  }
}




