.index-container {
  width: 50vw;
  margin: 0 auto 0 auto;
  h3 {
    font-family: $headers-font;
  }
  h2 {
    color: white;
    background-color: #9ACA8E;
    width:
  }
}

.index-text {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.index-cards {
  background-color: white;
  width: 80vw;
  margin: 1% auto 3% auto;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 5px 5px 15px, rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
