<div class="banner">
  <div class="banner-content">
    <h1>PatchPal</h1>
    <h3>Your guide to growing</h3>
    <br>
    <%= link_to "Begin!", new_patch_path, class: "begin-button" %>
  </div>
  <div class="arrow bounce">
    <p class="fa fa-arrow-down fa-2x"></p>
  </div>
</div>
<div class="green-strip"></div>



<div class="inspire-container">
    <div class="inspire-header" data-aos="fade-up" data-aos-duration="700">
      <h2 class="highlightme" data-aos="fade-up" data-aos-duration="700">&nbsp;Get inspired!&nbsp;</h2>
    </div>
    <div class="inspire-text" data-aos="fade-up" data-aos-duration="700">
      <h5>Not sure where to start? We’ve got you covered.</h5>
      <h5>Browse through our seasonal recommendations and</h5>
      <h5><b>get growing sooner!</b></h5>
    </div>
  <i class="fas fa-seedling" data-aos="fade-up" data-aos-duration="1000"></i>
</div>

<div class="time-container">
    <div class="time-header" data-aos="fade-up" data-aos-duration="700">
      <h2><span class="highlightme" data-aos="fade-up" data-aos-duration="700">&nbsp; Save precious time &nbsp;</span></h2>
    </div>
    <div class="time-text" data-aos="fade-up" data-aos-duration="700">
      <h5>Cut out those long hours of tedious research.</h5>
      <h5>PatchPal gives you <b>all the info</b> you need, whether it’s</h5>
      <h5>water, soil or light (and frankly, all the rest), to make a</h5>
      <h5><b>success</b> of your glorious garden.</h5>
    </div>
    <i class="fas fa-book-open" data-aos="fade-up" data-aos-duration="1000"></i>
</div>

<div class="track-container">
  <div class="track-header" class="inspire-header" data-aos="fade-up" data-aos-duration="700">
    <h2><span class="highlightme" class="inspire-header" data-aos="fade-up" data-aos-duration="700">&nbsp;Keep track &nbsp;</span></h2>
  </div>
  <div class="track-text" class="inspire-header" data-aos="fade-up" data-aos-duration="700">
    <h5>Cut out those long hours of tedious research.</h5>
    <h5>PatchPal gives you all the info you need, whether it’s</h5>
    <h5>water, soil or light (and frankly, all the rest), to make a</h5>
    <h5>success of your glorious garden.</h5>
  </div>
  <i class="far fa-calendar-check" data-aos="fade-up" data-aos-duration="1000"></i>
</div>

