<div class="banner">
  <div class="banner-content">
    <h1>PatchPal</h1>
    <h3>Your guide to growing</h3>
    <br>
    <button type="button" class="begin-button">Begin!</button>
  </div>
</div>

<div class="inspire-container">
  <div class="inspire-content">
    <div class="inspire-header">
      <h2>Get inspired!</h2>
    </div>
    <h5>Not sure where to start? We’ve got you covered.</h5>
    <h5>Browse through our seasonal recommendations and</h5>
    <h5><b>get growing sooner!</b></h5>
  </div>
  <i class="fas fa-seedling"></i>
</div>

<div class="info">
  <h2>Save precious time</h2>
  <p>Cut out those long hours of tedious research.</p>
  <p>PatchPal gives you all the info you need, whether it’s water, soil or light (and frankly, all the rest), to make a success of your glorious garden.</p>
</div>

<div class="info">
  <h2>Keep track</h2>
  <p>Cut out those long hours of tedious research.</p>
  <p>PatchPal gives you all the info you need, whether it’s water, soil or light (and frankly, all the rest), to make a success of your glorious garden.</p>
</div>
