<div class="banner">
  <div class="banner-content">
    <h1>PatchPal</h1>
    <h3>Your guide to growing</h3>
    <br>
    <button type="button" class="begin-button">Begin!</button>
  </div>
</div>

<div class="inspire-container d-flex">
    <div class="inspire-header">
      <h2>Get inspired!&nbsp;</h2>
    </div>
    <div class="inspire-text">
      <h5>Not sure where to start? We’ve got you covered.</h5>
      <h5>Browse through our seasonal recommendations and</h5>
      <h5><b>get growing sooner!</b></h5>
    </div>
  <i class="fas fa-seedling"></i>
</div>

<div class="time-container">
    <div class="time-header">
      <h2>&nbsp; Save precious time</h2>
    </div>
    <div class="time-text">
      <h5>Cut out those long hours of tedious research.</h5>
      <h5>PatchPal gives you <b>all the info</b> you need, whether it’s</h5>
      <h5>water, soil or light (and frankly, all the rest), to make a</h5>
      <h5><b>success</b> of your glorious garden.</h5>
    </div>
</div>

<div class="track-container">
  <div class="track-header">
    <h2>Keep track &nbsp;</h2>
  </div>
  <div class="track-text">
    <h5>Cut out those long hours of tedious research.</h5>
    <h5>PatchPal gives you all the info you need, whether it’s</h5>
    <h5>water, soil or light (and frankly, all the rest), to make a</h5>
    <h5>success of your glorious garden.</h5>
  </div>
  <i class="far fa-calendar-check"></i>
</div>
