<div class="cards">
    <div class="container">
      <div class="row">
        <% @plants.each do |plant| %>
          <div class="cards col-sm-4">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
                <h2><%= link_to plant.name, plant_path(plant), class: "index-text" %></h2>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
