
<div class="patchindex">
  <div class="banner-crop" style="background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');">
    <h2 class="welcome">Welcome, <%= current_user.first_name+" "+current_user.last_name %> </h2>
  </div>
  <div class="green-strip"></div>
  <br>

    <div class="card-patch">
      <h2 class="patchlist"> YOUR PATCHES:</h2>
        <div class="potatos" style="background-image: url('https://images.unsplash.com/photo-1518977676601-b53f82aba655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
        </div>
      <div class="card-trip-infos">
        <div class="textpatch">

            <% @patches.each do |patch|  %>
             <h2> <%= link_to patch.name, patch_path(patch), class: "patches-link" %> </h2>
             <h4 class="patches-location"><%= patch.address%></h4>
            <% end %>
        </div>

      </div>
    </div>
</div>
