
<div class="patchindex">
  <div class="banner-crop">
    <h2 class="welcome">Welcome, <%= current_user.first_name+" "+current_user.last_name %> </h2>
  </div>
  <div class="green-strip"></div>
  <div class="wrapper-avatar">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
  <div class="header-container">
    <h2 class="patchlist"> YOUR PATCHES:</h2>
  </div>
  <div class="patches-container">

    <% @patches.each do |patch|  %>
    <div class="card-patch hvr-grow">
      <div class="card-trip-infos">
        <div class="card-image"></div>
        <div class="green-strip"></div>
        <div class="textpatch">
          <h2> <%= link_to patch.name, patch_path(patch), class: "patches-link" %> </h2>
          <h4 class="patches-location"><i class="fas fa-compass">&nbsp;</i><%= patch.address%></h4>
          <div class="patch-links">
            <%= link_to "Delete", patch_path(patch), method: :delete, class: "patches-link" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
