.add-plants-btn {
  background-color: $green;
  color: white;
  text-decoration: none;
  padding: 1% 2%;
  margin: 0 auto;
  border-radius: 5px;
}

// .add-plant-btn-container {
//   margin: auto auto;
// }
