.add-plants-btn {
  background-color: white;
  color: $green;
  text-decoration: none;
  padding: 7% 10%;
  border-radius: 5px;
  &:hover {
    text-decoration: underline;
    color: $green;
    padding: 7% 10%;
  }
}

.add-plant-btn-container {
  position: absolute;
  top: 30px;
  right: 30px;
}
