
.edit {
  position: relative;
}
.edit-form {
   width: 100vw;
   min-height: 50vh;
   height: auto;
   display: flex;
   justify-content: center;
}

.edit-inputs {
  text-align: center;
  width: 30vw;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  position: relative;
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.highlightedit {
    background-color: #9ACA8E;
    color: white;
    font-family: $headers-font;
  }
#meadow-signup {
  position: absolute;
 z-index: -1;
  bottom: 0;
 width: 100vw;
}


