.banner-login {

  // background-size: cover;
  // background-position: bottom;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#meadow-login {
  z-index: -1;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.green-strip {
  height: 1vh !important;
  background-color: $green;
}

body {
  background-color: white;
}

.login {
  width:25vw;
}

.form-inputs {
margin: auto;
background-color: white;
padding: 20px;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
text-align: center;
border-radius: 5px;
}
