.navbar-lewagon {
  justify-content: space-between;
  background: $navbar-gray;
  h1 {
    font-family: $headers-font;
    color: $green;
    font-size: 50px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


