.navbar-lewagon {
  justify-content: space-between;
  background: $dark-gray;
  h1 {
    font-family: $headers-font;
    color: $green;
    font-size: 50px;
  }
  a.nav-link {
    color: $green !important;
    font-weight: lighter !important;
    padding-right: 10px !important;
  }
  a.nav-link:hover {
    border-bottom: solid 2px $green;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


