.registration {
   width: 100vw;
   min-height: 50vh;
   height: auto;
   display: flex;
   justify-content: center;
}

.form-registration {
  text-align: center;
  width: 30vw;
  padding: 25px;
  margin-top: 25px;
  background-color: white;
  position: relative;
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.form-inputs {
margin: auto;
background-color: white;
padding: 20px;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
text-align: center;
border-radius: 5px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f7f7f7;
  background-clip: padding-box;
  border: 1px solid #E9E8E8;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.label {
  color: #393939 !important;
}

h2 {
  padding: 20px;
  color: #343a40;
}

.btn-flat {
  margin: 10px;
 }

.end-page:hover {
  text-decoration: none;
}

.banner-signup {
  background-image: url('https://images.unsplash.com/photo-1473554198449-fd330ccd766e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.green-strip {
  height: 2vh;
  background-color: $green;
}

body {
  background-color: white;
}

#meadow-signup {
  position: absolute;
  z-index: -1;
  top: 670px;
}

